# map(func, *iterables) --> map object
# filter(function or None, iterable) --> filter object
# sorted(iterable, /, *, key=None, reverse=False)
# lambda x: x**2

## 利用map（）函数，把用户输入的不规范的英文，变成首字母大写，其他小写的规范的名字：比如说["ADMAm","LISA",'JACk]["Admam","Lisa",'Jack"]

## 利用lambda函数

In [83]:
def standards(s):
#     t = s.lower()
    t = s.capitalize()
#     return t
    print(t)

# standards("ADMAM")
list(map(standards,["ADMAm","LISA","JACk"]))

Admam
Lisa
Jack

[None, None, None]

In [84]:
ls = ["ADMAm","LISA","JACk"]
new_ls = map(lambda x:x.capitalize(),ls)
print(list(new_ls))

['Admam', 'Lisa', 'Jack']

回数：从左到右和从优稻作度都是一样的数，例如 12321，999，请利用fillter()函数

In [85]:
def equal(a,b):
    return a == b
# def is_palindrome(n):
#     s = str(n)
#     if equal(s[0],s[-1]):
#         return "是回数"
#     else:
#         return "不是回数"
# is_palindrome(121)

def is_palindrome(n):
    s = str(n)
    for i in range(len(s)):
        if equal(s[i],s[len(s)-1-i]):
            continue
        else:
            return False
    return True

is_palindrome(4533232)
outpup = filter(is_palindrome,range(1,1000))
print(list(outpup))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 606, 616, 626, 636, 646, 656, 666, 676, 686, 696, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 808, 818, 828, 838, 848, 858, 868, 878, 888, 898, 909, 919, 929, 939, 949, 959, 969, 979, 989, 999]

In [86]:
ls = range(1000)

new_ls = filter(lambda x:str(x)[0]==str(x)[len(str(x))-1], ls)
print(list(new_ls))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 606, 616, 626, 636, 646, 656, 666, 676, 686, 696, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 808, 818, 828, 838, 848, 858, 868, 878, 888, 898, 909, 919, 929, 939, 949, 959, 969, 979, 989, 999]

假设，我们用一组tuple来表示学生的名字和成绩：L =[("bob",75),("ada",66),("mimi",89)]，用sorted()对上述列表按照名字排序

In [115]:
L =[("bob",75),("ada",99),("mimi",89)]

def by_name(t):
    t = sorted(t[0],key=str.lower)#按字母顺序
    return t
L2 = sorted(L,key=by_name)

print(L2)
L = [1,2,56,3,0]
L2 = sorted(L,reverse=True)
print(L2)

[('ada', 99), ('bob', 75), ('mimi', 89)]
[56, 3, 2, 1, 0]

In [121]:
L =[("bob","75"),("ada","99"),("mimi","89")]

def by_num(t):
    s = sorted(t[1], key=str.lower)
    return s

L2 = sorted(L, key=by_num,reverse=True)
print(L2)

[('ada', '99'), ('mimi', '89'), ('bob', '75')]

In [122]:
L =[("bob",75),("ada",99),("mimi",89)]

def by_score(t):
    t = sorted(range(t[1]), key=abs)# int对象是不可被迭代的，所有包装下
    return t

L2 = sorted(L, key=by_score)
print(L2)

[('bob', 75), ('mimi', 89), ('ada', 99)]

In [123]:
# 利用lambda函数
ls =[("bob",75),("ada",99),("mimi",89)]

new_ls = sorted(ls, key=lambda x:x[0], reverse=True)
print(new_ls)

new_ls = sorted(ls, key=lambda x:x[1], reverse=True)
print(new_ls)

[('mimi', 89), ('bob', 75), ('ada', 99)]
[('ada', 99), ('mimi', 89), ('bob', 75)]

权重

goods = [{"name":"good1","price":200,"sales":100,"starts":5,"comments":100},{"name":"good2","price":300,"sales":120,"starts":4,"comments":500},{"name":"good3","price":500,"sales":3000,"starts":3,"comments":2000},{"name":"good4","price":600,"sales":200,"starts":2,"comments":600},
{"name":"good5","price":700,"sales":500,"starts":1,"comments":200}]

权重式100

价格战的权重式40%，销量17%，评级13%，评论30%1

In [124]:
goods = [{"name":"good1","price":200,"sales":100,"starts":5,"comments":100},{"name":"good2","price":300,"sales":120,"starts":4,"comments":500},{"name":"good3","price":500,"sales":3000,"starts":3,"comments":2000},{"name":"good4","price":600,"sales":200,"starts":2,"comments":600},
{"name":"good5","price":700,"sales":500,"starts":1,"comments":200}]

# sorted（）进行排序

def my_sorted(arg):
    price = arg["price"]
    sales = arg["sales"]
    star =arg["starts"]
    comment = arg["comments"]
    data = price*0.4 + sales*0.17 + star*0.13 + comment*0.3
    return data

print(sorted(goods, key=my_sorted))

[{'name': 'good1', 'price': 200, 'sales': 100, 'starts': 5, 'comments': 100}, {'name': 'good2', 'price': 300, 'sales': 120, 'starts': 4, 'comments': 500}, {'name': 'good5', 'price': 700, 'sales': 500, 'starts': 1, 'comments': 200}, {'name': 'good4', 'price': 600, 'sales': 200, 'starts': 2, 'comments': 600}, {'name': 'good3', 'price': 500, 'sales': 3000, 'starts': 3, 'comments': 2000}]

In [125]:
r = sorted(goods, key=lambda x:x["price"]*0.4 + x["sales"]*0.17 + x["starts"]*0.13 + x["comments"]*0.3, reverse=True)
print(r)

[{'name': 'good3', 'price': 500, 'sales': 3000, 'starts': 3, 'comments': 2000}, {'name': 'good4', 'price': 600, 'sales': 200, 'starts': 2, 'comments': 600}, {'name': 'good5', 'price': 700, 'sales': 500, 'starts': 1, 'comments': 200}, {'name': 'good2', 'price': 300, 'sales': 120, 'starts': 4, 'comments': 500}, {'name': 'good1', 'price': 200, 'sales': 100, 'starts': 5, 'comments': 100}]